.welcome-container {
  align-items: center;
  background-image: url("../../assets/images/welcome.jpg");
  background-size: cover;
  background-position: 100% 7.5%;
  object-fit: cover;
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 100%;
  height: 500px;
  color: #1d1d1d;

}

.glass-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 95%;
  height: 420px;
  background-color: #00000010;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 15px;
}

.welcome-container h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 0;
}

.welcome-container p {
  font-size: 35px;
  font-weight: 700;
  width: 80%;
}

.welcome-container p a {
  color: rgb(134, 218, 134);
  text-decoration: none;
}
