.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.mainLogo {
  margin-left: 60px;
  width: 180px;
}

.nav {
  width: 60%;
}

.nav ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.nav li {
  font-size: 18px;
  color: #1d1d1d;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 60px;
  list-style: none;
}

/* ANIMATION UNDERLINE */
.nav li:after {
  content: "";
  margin-top: 3px;
  display: flex;
  width: 100%;
  height: 3px;
  background: rgb(134, 218, 134);
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.nav li:hover:after,
.nav li:focus:after {
  visibility: visible;
  transform: scaleX(1);
}
