.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 60px;
  margin-top: 50px;
  box-shadow: 0px 2px 12px 1px rgba(115, 114, 114, 0.75);
}

.marca {
  display: inline-block;
}

.e-commerce {
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg {
  color: black;
  margin-left: 100px;
  transition: 0.1s linear;
}

.svg:hover {
  color: rgb(108, 170, 108);
  transition: .2s linear;
}
